* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.switch_banner {
  height: 35vw;
}

.switcher_stripe {
  left: calc(10%);
  top: calc(65%);
}
.mar {
  margin-top: 100%;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
